<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"

    >
    <img src="./assets/img/logo.jpg" style="width:11em">
    </a
  >
  <button
    (click)="isCollapsed = !isCollapsed"
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="collapsibleNavId"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="nav nav-tabs mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          style="font-size: 2em;"

          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/list']"
          routerLinkActive="router-link-active"
          style="font-size: 2em"
          >Items</a
        >
        <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/list']"
              routerLinkActive="router-link-active"
              style="font-size: 2em"
              >Login</a
            >
            &nbsp; &nbsp;
            &nbsp; &nbsp;

      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']"
            routerLinkActive="router-link-active"
            style="font-size: 1em"
            ><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i
              >
            </a
          >

    </li>
    <li class="nav-item">
        <a class
          style="font-size: 1em"
          > <span class="badge badge-success">{{ cartLenght }}</span>
          </a
        >


  </li>


    </ul>


    <!-- <div>
      <a class="nav-link" [routerLink]="['/cart']">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i
      ></a>
    </div>
    &nbsp; &nbsp;
    <div>
      <a class="nav-link" [routerLink]="['/cart']">
        <span class="badge badge-success">{{ cartLenght }}</span></a
      >
    </div> -->

  </div>
</nav>
